/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    background: #e0e0e0;
    -webkit-box-shadow: 20px 20px 60px #9d9d9d,
        -20px -20px 60px #ffffff;
            box-shadow: 20px 20px 60px #9d9d9d,
        -20px -20px 60px #ffffff;
}

.without-shadow {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
    background: #e0e0e0;
}

.container h1 {
    margin: 0;
    font-size: 60px;
    color: var(--theme);
}

.container p {
    /* VERY IMPORTANT text justified using html align attribute of p */
    font-size: 17px;
    width: 80%;
}
.container p>span {
    font-weight: bold;
}

.without-shadow h1 {
    margin: 0;
    font-size: 60px;
    color: var(--blue);
}

.without-shadow p {
    /* VERY IMPORTANT text justified using html align attribute of p */
    font-size: 17px;
    width: 80%;
}
.without-shadow p>span {
    font-weight: bold;
}