.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--white);
}

.navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}

.navbar-pop {
  width: 95%;
  border-radius: 20px;
  margin: 20px 0;
}

.otherlinks {
  font-size: 1rem;
  padding: 10px;
  width: fit-content;
  display: flex;
  gap: 1rem;
  border: none;
  border-radius: 1rem;
}

.navlinks {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
}

.logolink {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 2rem;
}

.signbtn {
  padding: 10px;
  display: flex;
  gap: 1rem;
}

.signupbtn {
  background-color: var(--primary-dark);
  color: var(--primary-bright);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.signupbtn:hover {
  background-color: rgb(229, 226, 226);
  color: black;
}

.dashbtn {
  background-color: var(--primary-dark);
  color: var(--primary-bright);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  width: 8rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashbtn:hover {
  background-color: rgb(229, 226, 226);
  color: black;
  background-color: rgb(229, 226, 226);
}