.navbar {
  /* width: 100%; */
  height: 10vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* a{
    text-decoration: none;
    color:black;
    font-family:monospace;
    font-weight: 900;
    font-size: 2rem;
} */

.otherlinks {
  font-size: 1rem;
  padding: 10px;
  width: fit-content;
  display: flex;
  gap: 1rem;
  border: none;
  border-radius: 1rem;
}

.otherlinks:hover {
  background: rgb(205, 203, 203);
}

.navlinks {
  text-decoration: none;
  color: var(--primary-dark);
  font-family: monospace;
  font-weight: 800;
  font-size: 1.2rem;
}

.logolink {
  text-decoration: none;
  color: var(--primary-dark);
  font-family: monospace;
  font-weight: 900;
  font-size: 2rem;
}

.signbtn {
  padding: 10px;
  display: flex;
  gap: 1rem;
}

.signupbtn {
  background-color: var(--primary-dark);
  color: var(--primary-bright);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.signupbtn:hover {
  background-color: rgb(229, 226, 226);
  color: var(--primary-dark);
}
.dashbtn {
  background-color: var(--primary-dark);
  color: var(--primary-bright);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dashbtn:hover {
  background-color: rgb(229, 226, 226);
  color: var(--primary-dark);
}
