.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.compcardsbox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    max-height: 100%;
    cursor: pointer;
}
.search{
    display: flex;
    width: 100%;
    justify-content: center;

    
}
.main_cont{
    display:flex;
    flex-direction: column;
align-items: center;
height: 100%;
/* justify-content: center; */
}
.noresult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  /* /  background-color: red; */
    width: 1200px;
    height: 100%;

    font-weight: 900;
    font-size: 2rem;

}