.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 100%;
    cursor: pointer;
}