.searchcontainer{
    display: flex;
    max-width: 800px;
    height: 5rem;
    border-radius: 2rem;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--black);
}
.searchinput span {
    background-color:var(--primary-bright);
}
:root[data-theme="dark"] .searchinput span {
    background-color:var(--primary-bright);
}
.searchbtn{
    height: 3rem;
    display: flex;
    background-color:var(--primary-bright);
    
    font-weight: 900;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    color: var(--primary-dark);
    width: 20%;
    text-align: center;
    margin: 0 20px;
    
    justify-content: center;
    align-items: center;
    gap: 1em;
    /* background-image: url("../../public/images/search.png"); */
}
.searchbtn:hover{
    cursor: pointer;
    transform: scale(0.95)
}