.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  padding: 20px;
  max-width: 50rem;
  width: 80%;
  gap: 2rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
}

:root[data-theme = "dark"] .grey {
  background-color: var(--black);
}

.grey {
  background-color: rgb(230, 230, 230);
}

.container div {
  min-width: fit-content;
}

.container p {
  margin: 0;
  width: 100%;
  text-align: justify;
}

.loading {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--primary-dark);
  animation: blink 1.5s infinite;
}

.loading:nth-child(2) {
  animation: blink 1.5s 0.25s infinite;
}

.loading:nth-child(3) {
  animation: blink 1.5s 0.5s infinite;
}

@keyframes blink {
  0%, 66%, 100% {
    scale: 1;
  }
  33% {
    scale: 2;
  }
}

.result h1 {
  margin: 25px;
}

.display {
  width: 100%;
}