.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.semi {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.semi-chat {
    overflow-y: auto;
    padding: 20px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin: 50px;
}
