.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerSub {
    width: fit-content;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border: none;
    width: 500px;
    outline: none;
    max-height: 100px;
    overflow-y: auto;
    padding: 15px 20px;
    padding-right: 50px;
    resize: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 1rem;
}

:root[data-theme="dark"] .input {
    background-color: var(--black);
}

.submit {
    all: unset;
    padding: 5px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: grey;
}

.submit:disabled {
    pointer-events: none;
    background: none;
}