.container {
    width: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    border: none;
    width: 500px;
    outline: none;
    max-height: 100px;
    overflow-y: auto;
    padding: 15px 20px;
    resize: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 1rem;
    text-align: justify;
}

:root[data-theme="dark"] .input {
    background-color: var(--black);
}