.container {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
}

.container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.combine{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 20px;
}
.delbtn{
    position: absolute;
    right: 10px;
    background: var(--white);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.delbtn:disabled {
    display: none;
}

.delbtn:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: all ease-in-out 0.2s;
}